<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="FTPAddress" value="ftp://localhost/"/>
    <add key="FTPUser" value="Adrian"/>
    <add key="FTPPassword" value="Adr1an"/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="bigItemInGraph">
          <dataContractSerializer maxItemsInObjectGraph="500000" />
        </behavior>
        <behavior name="noRevocation">
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IProcesoCorridaService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="6524288" maxReceivedMessageSize="665536"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IMaestrosService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="6524288" maxReceivedMessageSize="665536"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IAfipWrapperService" closeTimeout="00:01:00"
          openTimeout="00:15:00" receiveTimeout="00:15:00" sendTimeout="00:15:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="6524288" maxReceivedMessageSize="665536"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ISubidaArchivoService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="6524288" maxReceivedMessageSize="665536"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IComprobanteService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" proxyCredentialType="None" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://endesafews/FacturaElectronicaWsHost/MaestroService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IMaestrosService" contract="ServiceReferenceMaestro.IMaestrosService"
        name="WSHttpBinding_IMaestrosService" />
      <endpoint address="https://endesafews/FacturaElectronicaWsHost/AfipWrapperService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAfipWrapperService" contract="ServiceReferenceAfipWrapper.IAfipWrapperService"
        name="WSHttpBinding_IAfipWrapperService" />
      <endpoint address="https://endesafews/FacturaElectronicaWsHost/SubidaArchivoService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISubidaArchivoService" contract="ServiceReferenceSubidaArchivo.ISubidaArchivoService"
        name="WSHttpBinding_ISubidaArchivoService" />
      <endpoint address="https://endesafews/FacturaElectronicaWsHost/ComprobanteService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IComprobanteService" contract="ServiceReferenceComprobanteService.IComprobanteService"
        name="WSHttpBinding_IComprobanteService" />
      <endpoint address="https://endesafews/FacturaElectronicaWsHost/ProcesoCorridaService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProcesoCorridaService"
        contract="ServiceReferenceCorrida.IProcesoCorridaService" name="WSHttpBinding_IProcesoCorridaService" />
      <!--<endpoint address="http://localhost:1500/MaestroService.svc"
       behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
       bindingConfiguration="WSHttpBinding_IMaestrosService" contract="ServiceReferenceMaestro.IMaestrosService"
       name="WSHttpBinding_IMaestrosService" />
      <endpoint address="http://localhost:1500/AfipWrapperService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IAfipWrapperService" contract="ServiceReferenceAfipWrapper.IAfipWrapperService"
        name="WSHttpBinding_IAfipWrapperService" />
      <endpoint address="http://localhost:1500/SubidaArchivoService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_ISubidaArchivoService" contract="ServiceReferenceSubidaArchivo.ISubidaArchivoService"
        name="WSHttpBinding_ISubidaArchivoService" />
      <endpoint address="http://localhost:1500/ComprobanteService.svc"
        behaviorConfiguration="bigItemInGraph" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IComprobanteService" contract="ServiceReferenceComprobanteService.IComprobanteService"
        name="WSHttpBinding_IComprobanteService" />
      <endpoint address="http://localhost:1500/ProcesoCorridaService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IProcesoCorridaService"
        contract="ServiceReferenceCorrida.IProcesoCorridaService" name="WSHttpBinding_IProcesoCorridaService" />-->
    </client>

    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>

  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing, Error" propagateActivity="true">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\Programming\Proyectos\Tecnosop\FacturaElectronica\Codigo\Fe\WcfTrace\serviceclient2.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
